<!-- include '/pertial/header' -->

<!-- loop response.data -->
    <li>
        {{loop' value.filter}}
        {{loop' value.created_time}}
        
        {{loop' value.likes}}
        <li>s:
        <a href="{{loop' value.link}}" target="_blank">
            <img src="{{loop' value.images.thumbnail.url}}">
        </a>
        <li>
        <li>caption :
            <li></li>
        </li>
        <li>username :@{{loop' value.user.username}}</li>
        <li><a href="{{loop' value.user.website}}" target="_blank">website</a></li>
        <li>bio :{{loop' value.user.bio}}</li>
        <li><img width="25px" src="{{loop' value.user.profile_picture}}"></li>
        <!--
        <li>m:
        <a href="{{loop' value.link}}" target="_blank">
            <img src="{{loop' value.images.low_resolution.url}}">
        </a>
        <li>
        <li>L:
        <a href="{{loop' value.link}}" target="_blank">
            <img src="{{loop' value.images.standard_resolution.url}}">
        </a>
        <li>
        -->
    <!-- loop response' value.comments.data -->
            <!--<li>created_time : {{loop2' value.created_time}}</li>-->
            
    <!-- endloop -->
    </li>
<!-- endloop -->

<!-- include '/pertial/footer' -->